.mechanic-loop-container {

    display: flex;

    align-items: stretch;

    gap: 14px;

    overflow-x: visible;

    padding: 20px 0;
}

.mechanic-loop-step {

    display: flex;
    align-items: center;
    gap:8px;

    height: 100%;

    flex-shrink: 0;

    flex: 1;

    padding: 10px 12px;

    background: rgba(255, 255, 255, 0.02);

    border: 1px solid #313131;

    border-radius: 12px;
}

.mechanic-loop-number {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    border-radius: 50%;

    background: #d9b56d;

    color: #111;

    font-weight: 700;
}

.mechanic-loop-step p {

    margin: 0;
}

.mechanic-loop-wrapper {

    display: flex;

    align-items: center;

    gap: 8px;

    flex: 1;
}

.mechanic-loop-arrow {

    font-size: 1.6rem;

    color: #d9b56d;

    font-weight: 700;
}