.tag {

    padding: 4px 10px;
    border-radius: 10px;
    font-size: 11px;
    font-weight: 300;
    display: inline-block;
}

/* TAGS DO TIPO DE FARM */

.tag-clear {

    background: rgba(0, 200, 120, 0.08);
    border: 1px solid rgba(0, 200, 120, 0.20);
    color: rgba(60, 200, 220);

}

.tag-boss {

    background: rgba(255, 80, 80, 0.08);
    border: 1px solid rgba(255, 80, 80, 0.20);
    color: rgba(180, 100, 220);

}

.tag-hybrid {

    background: rgba(140, 120, 220, 0.08);
    border: 1px solid rgba(140, 120, 220, 0.20);
    color: rgba(140, 120, 220);

}


.tag-currency-basicas {

    background: rgba(255, 180, 0, 0.08);
    border: 1px solid rgba(255, 180, 0, 0.20);
    color: rgb(255, 210, 90);

}

.tag-currency-raras {

    background: rgba(125, 55, 211, 0.08);
    border: 1px solid rgba(125, 55, 211, 0.20);
    color: rgb(210, 170, 255);

}

.tag-exp {

    background: rgba(180, 120, 255, 0.08);
    border: 1px solid rgba(180, 120, 255, 0.20);
    color: rgb(210, 170, 255);

}

.tag-speed {

    background: rgba(120, 255, 199, 0.08);
    border: 1px solid rgba(120, 255, 199, 0.20);
    color: rgb(170, 255, 208);

}

.tag-early {

    background: rgba(0, 170, 255, 0.08);
    border: 1px solid rgba(0, 170, 255, 0.20);
    color: rgb(80, 140, 255);

}

.tag-easy {

    background: rgba(0, 220, 180, 0.08);
    border: 1px solid rgba(0, 220, 180, 0.20);
    color: rgb(90, 180, 120);

}

.tag-midgame {

    background: rgba(60, 110, 230, 0.08);
    border: 1px solid rgba(60, 110, 230, 0.20);
    color: rgb(60, 110, 230);

}

.tag-medium {

    background: rgba(255, 220, 60, 0.08);
    border: 1px solid rgba(255, 220, 60, 0.20);
    color: rgb(220, 180, 70);

}

.tag-endgame {

    background: rgba(180, 40, 255, 0.08);
    border: 1px solid rgba(180, 40, 255, 0.20);
    color: rgb(130, 90, 255);

}

.tag-hard {

    background: rgba(255, 70, 70, 0.08);
    border: 1px solid rgba(255, 70, 70, 0.20);
    color: rgb(210, 90, 90);

}