.home-cards {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

@media (max-width: 900px) {

    .home-cards {
        grid-template-columns: 1fr;
    }
}

.home-title {

    font-size: 50px;
    color: #4da6ff;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .home-title {
        font-size: 32px;
        text-align: center;
    }
}

.home-card-link {

    width: 100%;
    max-width: 255px;
    text-decoration: none;
    color: inherit;
}