.consumable-item {

    display: flex;

    justify-content: space-between;

    align-items: center;

    background: rgba(255, 255, 255, 0.03);

    padding: 8px 10px;

    border-radius: 8px;
}

.consumable-info {

    display: flex;

    align-items: center;

    gap: 10px;
}

.consumable-icon {

    width: 32px;

    height: 32px;

    object-fit: contain;
}

.consumable-amount {

    color: #4da6ff;

    font-weight: bold;
}