.mechanics-page {

    background-image: url("/background/bgmechanics.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Tauma: mudado para min-height */
    width: 100%;
    position: relative;
}

.mechanics-content {

    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.back-button {

    color: #4da6ff;
    text-decoration: none;
    transition: color 0.2s ease;
    
}

.back-button:hover {
    
    color: #80c1ff;
}

.navigation-links {

    display: flex;

    gap: 15px;

    margin-bottom: 20px;
}